header {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: calc(100% - 120px);
  background-color: #0000001d;
  -webkit-app-region: drag;
  z-index: 9999;
}

body {
  font-family: 'Onest', sans-serif;
  margin: 0;
  padding: 20px;
  color: #000000cb;
  overflow-y: auto;
}

#responseContent {
  margin-top: 20px;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 1.6;
}

.action {
  position: fixed;
  width: 40px;
  height: 30px;
  padding: 2px;
  background-color: #0000001d;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.action svg {
  fill: #00000080;
}

.action:hover svg {
  fill: #000000bc;
}

#closeButton {
  top: 0;
  right: 0;
}

#closeButton:hover svg {
  animation: rotate 0.1s ease-in;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

#copyButton {
  top: 0;
  right: 40px;
}

#redoButton {
  top: 0;
  right: 80px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #0000001d;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #0000001d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0000003d;
}

::-webkit-scrollbar-thumb:active {
  background-color: #0000005d;
}

::selection {
  background-color: #fffb95ad;
}
