html, body {
  margin: 0; padding: 0; 
  width: 100%; height: 100%; 
  overflow: hidden; 
  cursor: crosshair;
  font-family: 'Onest', sans-serif;
}

#selectionCanvas {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.1);
}

#controlPanel {
  position: absolute;
  display: none;
  flex-direction: column;
  width: max-content;
  gap: 10px;
  top: 50%;
  right: 10px;
  z-index: 9999;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Onest', sans-serif;
  font-weight: 550;
  color: #000000;
  background-color: #ffffff;
  border: none; 
  border-radius: 25px;
  padding: 5px 5px; 
  cursor: pointer;
  width: 40px;
  min-height: 40px;
  max-height: 40px;
  transition: width 0.4s ease;
}

.btn svg {
  width: 20px;
  height: 20px;
  animation: fadeIn 0.3s ease;
}

.btn span {
  display: none;
  color: transparent;
  font-size: 1.1em;
  animation: fadeIn 0.5s ease;
}

.btn:hover {
  width: 100px;
}

.btn:hover span {
  display: block;
  color: #000000;
}

.btn:hover svg {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#cancelButton {
  background-color: #ffbaba;
}

.active {
  width: fit-content !important;
}

.active span {
  display: none !important;
}

.active svg {
  display: none;
}

textarea {
  font-family: 'Onest', sans-serif;
  font-size: 1.1em;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100%;
  max-height: 40px;
  resize: none;
}

textarea:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}